@font-face {
	font-family: 'newciclegordita';
	src: url('../font/New_Cicle_Gordita.ttf');
}

* {
	padding: 0;
	margin: 0;
	font-family: 'newciclegordita', sans-serif;
}

html {
	background-image: url('../img/1train_rm.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	/*background-color: #62676E;*/
}


header {
	padding: 30px 20px 0px 20px;
	height: 10vh;
}


/******************************
In-line Top Navigation
******************************/
li {
	list-style: none;
}

nav {
	display: block;
	font-size: 100%;
}

.logo {
	float: left;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 15vh;
	font-weight: bold;
	vertical-align: middle;
	margin-top: -4px;
	line-height: auto;
	color: #E8C125;
}

.nav-items {
	text-align: right;
}

.nav-item {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    padding: 0 5px;
    line-height: auto; 
}

.nav-txt {
	text-transform: lowercase;
	text-decoration: none;
	color: white;
}

.navicon {
	text-decoration: none;
	color: white;	
}

ul.nav-items a.navicon {
	display: none;
}

a {
	background-color: transparent;
}

a:hover {
	color: #E8C125;
}

.active {
	color: #E8C125;
}

/******************************
Mobile Navigation // Nav Icon 
******************************/
@media screen and (max-width: 680px) {
	ul.nav-items a {
		display: none;
	}

	ul.nav-items a.navicon {
		float: right;
		display: inline-block;
	}
}

/******************************
Responsive Nav Class 
******************************/
@media screen and (max-width: 680px) {
  ul.nav-items.responsive {
  	position: relative;
  }

  ul.nav-items.responsive a.navicon {
    position: absolute;
    right: 0;
    top: 0;
  }

 /* ul.nav-items.responsive li {
    float: none;
    display: inline;
  }*/

  ul.nav-items.responsive li a.nav-txt {
    display: block;
    text-align: right;
    top: 22px;
  }
}


/******************************
Main Content Slider
******************************/
main {
	position: relative;
	/*padding: 10px 10px 0 10px;*/
	/*border: solid 2px pink;*/
	height: 85vh;
	width: auto;
	white-space: nowrap;
}

.box-bar {
	position: relative;
	height: 63.75vh;
	width: auto;
	overflow-x: auto;
	/*border: dashed 1px red;*/
	margin-top: 10.625vh;
	margin-bottom: 10.625vh;
	white-space: nowrap;
	max-width: 100vw;
}


/******************************
Individual Content Containers 
******************************/
.container {
	display: inline-block;
	position: relative;
	margin: 7.5vh 10vh 7.5vh 10vh;
	/*margin: 20px 30px 20px 30px;*/
	border: solid .5px white;
	height: 42.5vh;
	width: 50vh;
	white-space: nowrap;
	color: white;
	text-align: center;
}

.container h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: 50%;
	transform: translate(-50%, -50%);
}

#wahid {
	background-image: url('../img/mercedes-clem-onojeghuo.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;	
}

#ithnayn {
	background-image: url('../img/airshot-austin-neill.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#thalaatha {
	background-image: url('../img/lildog-brooke-cagle.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#arbaa {
	background-image: url('../img/breakfast-brooke-lark.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#khamsa {
	background-image: url('../img/whitearchitecture-kimon-maritz.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
}

/*.overlay:before {
	position: relative;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 0;
}

.overlay:hover {
  display: block;
  border-color: grey;
  opacity: .5;
}
*/


/******************************
Page Footer
******************************/
footer {
	position: relative;
	/*border: solid 2px yellow;*/
	height: 5vh;
	width: auto;
	color: grey;
	margin-left: 5px;
	margin-right: 5px;
}